<div class="container">
  <article class="row city">
    <ul>
      <li class="col-md-2"><strong><%= @airport.name %></strong></li>
      <li class="col-md-2"><%= @airport.city.name %></li>
      <li class="col-md-2"><%= @airport.city.country_name %></li>
      <li class="col-md-2"><%= @airport.city.time_zone %></li>
      <li class="col-md-2"><a href="<%= airport_path(@airport.id) %>" data-method="delete" class="btn btn-danger"> Delete </a></li>
    </ul>
  </article>
</div>
